{% extends 'base.html' %}

{% block content %}
{% load static %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Dashboard</h1>   
          <div class="text-center">
            <img src="{% static 'tasks/images/home.svg' %}" width="420" height="420" alt="">
          </div> 
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}